<nav class="navbar is-warning is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to "Home", root_path, class: "navbar-item" %>
      </a>
      <a class="navbar-item">
        <%= link_to "About Us", permalink_path(permalink: 'about_us'), class: "navbar-item" %>
      </a>
       <a class="navbar-item">
        <%= link_to "Contact Us", permalink_path(permalink: 'contact_us'), class: "navbar-item" %>
      </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Offers
      </a>
        <div class="navbar-dropdown">
            <a class="navbar-item">
              <%= link_to "On Sale", deal_path(2), class: "navbar-item" %>
            </a>
            <a class="navbar-item">
              <%= link_to "New Release", deal_path(1), class: "navbar-item" %>
            </a>
            <a class="navbar-item">
              <%= link_to "Regular Price", deal_path(3), class: "navbar-item" %>
            </a>
          </div>
    </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Categories
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            <%= link_to "Computers & Tablets", category_path(203), class:"navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to "Musical Instruments", category_path(202), class:"navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to "Smart Home & Car Electronics", category_path(204), class:"navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to "TV & Home Theatre", category_path(201), class:"navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to "Video Games & Movies", category_path(205), class:"navbar-item" %>
          </a>
        </div>
      </div>

    </div>
    <div class="navbar-end">
    <div >
      <%= form_with(url: search_results_products_path, method: "get", local: true) do %>
        <%= label_tag(:query, "Search for:") %>
        <%= text_field_tag(:query) %>
        <%= select_tag :category, options_from_collection_for_select(Category.all, 'id', 'name'), include_blank: "Select Category" %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
          <div class="button is-info">
           <%= render 'layouts/cart' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

