<aside class="menu is-hidden-touch">
  <p class="menu-label">
    Categories
  </p>
  <ul class="menu-list">
    <li><a><%= link_to "Computers & Tablets", category_path(203) %></a></li>
    <li><a><%= link_to "Musical Instruments", category_path(202) %></a></li>
    <li><a><%= link_to "Smart Home & Car Electronics", category_path(204) %></a></li>
    <li><a><%= link_to "TV & Home Theatre", category_path(201) %></a></li>
    <li><a><%= link_to "Video Games & Movies", category_path(205) %></a></li>
  </ul>
  <p class="menu-label">
    Current Offers
  </p>
  <ul class="menu-list">
    <li><a><%= link_to "On Sale", deal_path(2) %></a></li>
    <li><a><%= link_to "New Release", deal_path(1) %></a></li>
    <li><a><%= link_to "Regular Price", deal_path(3) %></a></li>

  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>